# Python files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# Environment
.vscode

# Secrets
__test*.py
__*.sh
__*.py
!__*__.py

# Other binary files
*.zip
*.pdf
*.png
~$*

# Documentation
*.md
*.html
!README.md
*.log
img/
*.xlsx

# Lab 4 data sets
lab-4/breast-cancer.names
lab-4/breast-cancer.data
